<tr id=<%= note.id %> class=<%= "table-warning" if note.pinned? %>>
  <td><%= pin_icon(note) %>&nbsp;<%= note.title %></td>
  <td><%= note_meta(note) %></td>
  <td><%= view(note) %></td>
  <td><%= edit(note) %></td>
  <td><%= delete(note) %></td>
</tr>