<%= render 'shared/notices' %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= pin_icon(@note) %>&nbsp;<%= @note.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= note_meta(@note) %></h6>
    <p class="card-text"><%= @note.body %></p>
    <div class="d-flex">
      <%= edit(@note) %>
      <%= delete(@note) %>
    </div>

  </div>
</div>