<h1> Welcome, <%= @user.full_name %>! </h1>
<small>user # <%= @user.id %></small>
 <br>
 <%= link_to "Create New Note", new_note_path  %>

<h2>You have <%= pluralize(@user.notes.count, "note") %> </h2>

<% if flash.any? %>
  has messages
<% end %>

<%= render(partial: 'notes/note', collection: @user.notes) || "No notes yet!" %>