<%= render 'shared/notices' %>

<div class="row">
  <div class="col-sm-6 offset-sm-3 text-center">
    <div class="card">
      <h1 class="card-header"> Welcome, <%= @user.full_name %>! </h1>
      <div class="card-body">
        <h2 class="card-title">You have <%= pluralize(@user.notes.count, "note") %> </h2>
        <p class="card-text">Email: <%= @user.email %></p>
        <%= link_to "Edit User", edit_user_path(@user), :class => 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>


 <%= link_to "Create New Note", new_note_path, :class => 'btn btn-outline-secondary'  %>

<% if @user.notes.any? %>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Meta</th>
        <th scope="col">View</th>
        <th scope="col">Pin</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render(partial: 'notes/note', collection: @user.notes) || "No notes yet!" %>
    </tbody>
  </table>

<% else %>

  <div class="alert alert-warning mt-5 text-center">
    No Notes Yet
  </div>

<% end %>
